
output/raw_multi_queue.txt
output/raw_multi_patients.txt
output/aggregate_single.txt
output/aggregate_multi.txt
output/raw_single_queue.txt
output/raw_single_patients.txt
output/raw_signle_arrival.txt
output/raw_multi_arrival.txt
*.feather
